.slider-uber{
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
}

.car-container{
    padding: 0 0 0 140px;
    background: #dfdfdf;
}

.car-image{
    float: left;
    width: 700px;
}

.motorcycle-image{
    float: left;
    width: 757px;
}

.uber-h1{
    text-align: start;
    float: left;
    top: 100;
    font-size: 5em;
    float: left;
}

.uber-h1 span{
    text-align: end;
    display: block;
    justify-content: start;
}